@font-face {
    font-family: 'analo-grotesk';
    src: url('fonts/analo-grotesk/analo-grotesk-trial-regular.otf') format('opentype'),
         url('fonts/analo-grotesk/analo-grotesk-trial-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'grotta';
    src: url('fonts/grotta/grotta-regular.otf') format('opentype'),
         url('fonts/grotta/grotta-regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}
@font-face {
    font-family: 'fragille';
    src: url('fonts/fragille/fragille-regular.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

#logo {
    position: fixed;
    clip-path: inset(1.5px); 

    width: 120px;
    height: 120px;

    top: 20px;
    left: 25px;

    z-index:9999;
    cursor: pointer;
}

#about {
    position: fixed;
    max-width: 650px;
    height: auto;
    top: 10px;
    right: 15px;
    border-radius: 20px;

    z-index: 999999;

    background: rgba(245, 245, 245, 0.8);
    border: 5px rgba(255, 105, 180, 1) dotted;
}

.about-text-01 {
    color: #9CD7B8;

    padding-left: 20px;
    padding-top: 5px;

    font-family: 'fragille', serif;
    font-size: 1.2rem;
    font-style: normal;
    letter-spacing: 0.5rem;

    text-shadow:2px 0 #6262DB, -2px 0 #6262DB, 0 2px #6262DB, 0 -2px #6262DB,
                1px 1px #6262DB, -1px -1px #6262DB, 1px -1px #6262DB, -1px 1px #6262DB;
}

.about-text-02 {
    color: #000000;
    padding-left: 20px;
    /* padding-top: 5px; */

    font-family: 'grotta', sans-serif;
    font-size: 1.1rem;
    font-style: normal;
}

#about img {
    width: 80px;
    height: 80px;
}

table {
    border-collapse: collapse;
    border: 1px #808080 solid;

    font-family: 'grotta', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;

    max-width: 93%;
    height: auto;

    margin-left: 20px;
    margin-bottom: 10px;

}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.types {
    align-items: center;
    justify-content: center;
    text-align: center;    
}

#how-to {
    position: fixed;
    max-width: 500px;
    height: auto;
    bottom: 20px;
    left: 15px;
    border-radius: 20px;
    padding-right: 10px;

    z-index: 999999;

    background: rgba(219, 213, 255, 0.5);
    border: 5px #808080 dotted;
}

.marker {
    position: absolute;
    width: 20px;
    height: 20px;

    cursor: pointer;

    transform: translate(-50%, -50%);

    z-index: 9999;
    box-shadow: none;
}

.marker.active {
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.8),
                0 0 25px rgba(255, 105, 180, 0.6),
                0 0 35px rgba(255, 105, 180, 0.4);
}

.marker:hover {
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.8),
                0 0 25px rgba(255, 105, 180, 0.6),
                0 0 35px rgba(255, 105, 180, 0.4);
}

#stories-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    pointer-events: none;
    z-index: 5;
}

#stories-container > div {
    position: absolute;

    border: 0.5px black solid;
    padding: 0px 7px;
    max-width: 400px;
    pointer-events: auto;

    opacity: 0;
    visibility: hidden;

    background: #f5f5f5;
}

#stories-container > div.visible {
    opacity: 1;
    visibility: visible;
}

#stories-container > div.front {
    z-index: 9999;
}

#stories-container > div:hover {
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.4),
                0 0 25px rgba(255, 105, 180, 0.2),
                0 0 35px rgba(255, 105, 180, 0.1);

    cursor: pointer;
}

.story-box-title {
    color: #0000ff;
    font-family: 'analo-grotesk', serif;
    font-size: 1.1rem;
    font-weight: 400;
}

#stories-container p {
    color: #0000ff;
    font-family: 'analo-grotesk', serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4;
}

#stories-container p > a {
    text-decoration: underline;
    color: #0000ff;
}

#stories-container p > a:hover {
    color: rgba(255, 105, 180, 0.4);
}

#two-moles-elephant {
    image-rendering: pixelated;        /* For modern browsers */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: crisp-edges;      /* Standard */
    -ms-interpolation-mode: nearest-neighbor; /* IE */
}

#text-decor-01 {
    padding-left: 20px;
    color: rgba(255, 105, 180, 1) !important; 
    font-style: italic;
}

#okay-button {
    min-width: 90px;
    height: 35px;
    position: relative;

    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
    color: greenyellow;
    letter-spacing: 2px;

    background: linear-gradient(180deg, #e0e0e0 0%, #b0b0b0 100%);
    border: 1px solid pink;

    text-shadow: 1px 1px 0px #404040, 
                 2px 2px 0px #606060,
                 3px 3px 0px #808080; 

    padding: 10px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;

    margin-right: 25px;
    float: right;

    box-shadow: 
        inset -2px -2px 0px rgba(139, 0, 139, 0.4),
        inset 2px 2px 0px rgba(255, 182, 193, 0.9),
        0px 4px 0px #c71585,
        0px 6px 8px rgba(199, 21, 133, 0.6);
    
    position: relative;
}

#okay-button:hover {
    top: 2px;
    box-shadow: 
        inset -2px -2px 0px rgba(139, 0, 139, 0.5),
        inset 2px 2px 0px rgba(255, 182, 193, 0.7),
        0px 2px 0px #c71585,
        0px 4px 5px rgba(199, 21, 133, 0.6);
}

#okay-button:active {
    top: 4px;
    box-shadow: 
        inset -1px -1px 0px rgba(139, 0, 139, 0.6),
        inset 1px 1px 0px rgba(255, 182, 193, 0.5),
        0px 0px 0px #c71585,
        0px 2px 3px rgba(199, 21, 133, 0.6);
}

#get-started-button {
    min-width: 120px;
    height: 35px;
    position: relative;

    font-family: monospace;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ff7ac4;
    letter-spacing: 2px;

    background: linear-gradient(180deg, #dbd5ff 0%, #9b8fd9 100%);
    border: 1px solid #6262DB;

    text-shadow: 1px 1px 0px #404040, 
                 2px 2px 0px #606060,
                 3px 3px 0px #808080; 

    padding: 10px 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;

    margin-right: 25px;
    float: right;

    box-shadow: 
        inset -2px -2px 0px rgba(98, 98, 219, 0.4),
        inset 2px 2px 0px rgba(219, 213, 255, 0.9),
        0px 4px 0px #6262DB,
        0px 6px 8px rgba(98, 98, 219, 0.6);
}

#get-started-button:hover {
    top: 2px;
    box-shadow: 
        inset -2px -2px 0px rgba(98, 98, 219, 0.5),
        inset 2px 2px 0px rgba(219, 213, 255, 0.7),
        0px 2px 0px #6262DB,
        0px 4px 5px rgba(98, 98, 219, 0.6);
}

#get-started-button:active {
    top: 4px;
    box-shadow: 
        inset -1px -1px 0px rgba(98, 98, 219, 0.6),
        inset 1px 1px 0px rgba(219, 213, 255, 0.5),
        0px 0px 0px #6262DB,
        0px 2px 3px rgba(98, 98, 219, 0.6);
}

#buttons-bottom {
    position: fixed;
    bottom: 30px;
    width: 100%;

    z-index: 999999;
}

.bottom {
    width: 30px;
    height: 20px;
    position: absolute;
}

#bottom-button-how-to {
    left: 20px;
    display: none;
}

#bottom-button-about {
    right: 20px;
    display: none;
}